* {
    margin: 0%
}
header {
     background-color: white;
      margin-bottom: 30px ;
      transition: all ease 500ms;
     margin-bottom: 20px;
}
header:hover {
    background-image: linear-gradient(black,green);
    padding: 30px;
}
body {
    background-color: black;
}
nav > a {
    text-decoration: none;
    color: rgb(100, 167, 100);
    font-weight: bold;
}
.logo {text-align: center;
font-weight: bold;
color: green;
font-family: "Titulo";
font-size: 60px;
}
.extras {
   background-image: linear-gradient(white,white);
   background-size: 0% 3px;
   background-position: left bottom;
   transition: all ease 350ms;
   background-repeat: no-repeat;
   padding: 10px;
}
.extras:hover {
   background-size: 100% 3px;
}
.entrar {
    border: 3px solid gray;
    padding: 10px;
    border-radius: 50px;
}
.login {
    border: 3px solid rgb(216, 178, 178);
    padding: 10px;
    border-radius: 50px;
}
nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
@font-face {
    font-family: "Titulo";
    src: url(neurock/Neurock.ttf);
}
.para1 {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    text-align: center;
}
.txt1 {
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.main1 {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    margin: 0px 0px;
}
p {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}
.para2 {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    text-align: center;
}
.txt2 {
    
    display: flex;
    justify-content: center;
    align-items: center;


}
.main2 {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    margin: 0px 0px;
}
.para3 {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    text-align: center;
}
.txt3 {
    
    display: flex;
    justify-content: center;
    align-items: center;


}
.main3 {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    margin: 0px 0px;
}
.para4 {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    text-align: center;
}
.txt4 {
    
    display: flex;
    justify-content: center;
    align-items: center;


}
.main4 {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    margin: 0px 0px;
}



